{% extends 'base.html' %}

{% block content %}
    <header>
        <h3>All Notes</h3>
        <a href="{% url 'note_create' %}">
            <button>Create View</button>
        </a>
    </header>
    <div x-data="{ open:false }">
        <button @click="open = ! open" class="bg-indigo-600 text-white p-2 rounded-lg">Show Text</button>
        <div x-show="open">
            Try the alpine JS
        </div>
    </div>
    <main>
        {% for note in notes %}
            <div>{{ note.title }}</div>
        {% endfor %}
    </main>
{% endblock %}